{
  "rules": {
    "space-before-function-paren": 0, //let ESLint work with Prettier avoiding conflicts and problems
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "prettier/prettier": "error"
  },

  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:vue/essential", "@vue/prettier"]
}
