{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/essential",
    "airbnb-base",
    "@vue/prettier"
  ],
  "rules": {
    "space-before-function-paren": 0, //let ESLint work with Prettier avoiding conflicts and problems
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "prettier/prettier": "error",
    "no-param-reassign": [2, { "props": false }]
  },

  "settings": {
    "import/core-modules": ["vue", "vuex"] // these modules are included in nuxt.js
  }
}
